{% load account %}
<!DOCTYPE html>
<html>
<head>
    <title>Добро пожаловать!</title>
</head>
<body>
    <h2>Здравствуйте, {{ user.username }}!</h2>
    <p>Спасибо за регистрацию на нашем сайте NewsPortal.</p>

    <p>Для завершения регистрации подтвердите ваш email:</p>
    <a href="{{ activate_url }}">Подтвердить email</a>

    <p>Наши основные возможности:</p>
    <ul>
        <li>Чтение свежих новостей</li>
        <li>Комментирование материалов</li>
        <li>Подписка на категории</li>
    </ul>

    <hr>
    <p>С уважением,<br>Команда NewsPortal</p>
</body>
</html>