{% extends "flatpages/default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% if not is_not_authors %}
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Стать автором</button>
    </form>
{% else %}
    <p class="text-success">Вы имеете статус автора</p>
{% endif %}
<button> <a href="{% url 'account_logout' %}">Выйти</a> </button>
{% endblock %}